html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
}

#d_main {
    width: 100%;
    height: 100%;
    background: url("../img/header_background.jpg") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#p_main {
    padding: 0;
    margin: 0 25%;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 2.2em;
    color: white;
    line-height: 1.6;
}

#id_rest {
    padding: 0;
    margin: 0 25%;
}

img.rest {
    width: 100%;
    padding: 0;
}

iframe.rest {
    width: 100%;
}

/* El h1 que tiene como fuente la de Google Font, es la fuente más cercana que encontré*/
#G_FONT {
    font-family: "Emblema One", system-ui;
}


/* Media Queries */
/* Preguntarle al Alberto si es suficiente */
@media (max-width: 768px) {
    #p_main {
        font-size: 120%;
    }

    #G_FONT {
        font-size: 120%;
    }
}

@media (max-width: 480px) {
    #p_main {
        font-size: 150%;
    }

    #G_FONT {
        font-size: 150%;
    }
}

#d_table {
    margin: 0 25%;
    align-items: center;
    justify-content: center;
}

table {
    width: 100%;
    border: 5px solid #f3c400; /* Amarillo y negro de Batman*/
    border-collapse: collapse;
    font-family: 'Gotham', sans-serif; /* Pegan más con Batman */
    background-color: #1c1c1c;
    justify-content: center;
    align-items: center;
}
  
th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #444444;
}
  
th {
    background-color: #272727;
    color: #f3c400;
    text-transform: uppercase;
    font-weight: bold;
}
  
tr:nth-child(even) {
    background-color: #333333;
}
  
tr:hover { 
    background-color: #444444;
    cursor: pointer;
} /* Porque lo ví por ahí y porque no ponerlo */
  
caption {
    font-size: 1.5rem;
    margin: 10px;
    color: #f3c400;
    text-align: center;
    font-weight: bold;
}

#d_slider {
    padding: 0 25%;
}