html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
}

#div_main {
    width: 100%;
    height: 100%;
    background: url("img/header_background.jpeg") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#p_main {
    padding: 30px;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 4em;
    color: white;
    max-width: 80%; 
    line-height: 1.6;
}

#id_rest {
    padding: 0;
    margin: 0 25%;
}

img.rest {
    width: 100%;
    padding: 0;
}